@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

:root {
    --text-color: #242424;
    --bg-color: #F2F5F7;
    --main-color: #FFD31D;
    --second-color: #FF0000;
    --second-text-color: #797070;
    --bg-success: #F94F2F;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    overflow-x: hidden;
    background-color: white;
    color: var(--text-color);
    overflow-x: hidden;
}

.navbar-nav {
    display: flex;
    width: 30%;
    justify-content: space-between;
    transition: 1s;
}

.navbar-nav .nav-item {
    list-style: none;
}

.navbar-nav .nav-item a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
}

.navbar-nav .nav-item a:hover {
    border-bottom: 2px solid var(--second-color);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 98px;
    background-color: var(--bg-color);
    position: fixed;
    box-shadow: 0px 1px 10px -9px var(--text-color);

}

.toggle-menu {
    display: none;
    flex-direction: column;
    height: 20px;
    position: relative;
    justify-content: space-between;
}

.toggle-menu span {
    width: 28px;
    height: 3px;
    background-color: var(--text-color);
    display: block;
    transition: 0.4s;
    border-radius: 2px;
}

.toggle-menu input {
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    opacity: 0;
}

.wrap-icon {
    display: flex;

    justify-content: space-between;
    box-sizing: border-box;
}

.wrap-cart i {
    font-size: 22px;
}

.wrap-cart {
    position: relative;
}

.wrap-cart i {
    color: var(--text-color);
}

.wrap-cart i:hover {
    color: var(--second-color);
}

.badge {
    width: 12px;
    height: 12px;
    display: block;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 15px;
    right: -3px;
    top: -4px;
}


.btn-order {
    background-color: var(--main-color);
    border: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
}

/* jumbotron */
.jumbotron {
    height: 35vh;
    text-align: center;
    background-color: var(--bg-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* cart list */
.cart-list {
    min-height: 100vh;
    padding: 20px 98px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.table {
    width: 50%;
    border-collapse: collapse;
}

.table th {
    background-color: var(--bg-color);
    text-align: left;
    height: 50px;
    padding: 10px;
    border: 1px solid white;
}

.table tr:nth-child(even) {
    background-color: rgb(228, 243, 250);
}

.table td,
.table td {
    border: 1px solid white;
    padding: 8px;
}


.cart-total {
    width: 40%;
    border: 2px solid var(--bg-color);
    border-radius: 4px;
    padding: 15px;
    margin-left: 24px;
    min-height: 100px;
}

.cart-total h3 {
    width: 100%;
    border-bottom: 1px solid var(--bg-color);
}

.btn-cancel {
    padding: 7px 15px;
    border: 0px;
    background-color: var(--second-color);
    color: white;
    border-radius: 20px;
}

.card-desc {
    color: var(--second-text-color);
}

.toggle-menu input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.toggle-menu input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
}

.toggle-menu span:nth-child(2) {
    transform-origin: 0.0;
}

.toggle-menu span:nth-child(4) {
    transform-origin: 0.100%;
}

.toggle-menu input:checked~span:nth-child(3) {
    transform: scale(0);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 24px;
    align-items: center;
    background-color: var(--bg-color);
}


.copyright {
    margin-top: 15px;
}

.footer a {
    text-decoration: none;
    color: var(--text-color);
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1199.98px) {
    .nav {
        padding: 10px 60px;
    }
}

@media (max-width: 991.98px) {
    .nav {
        padding: 10px 30px;
    }

    .navbar-nav {
        display: flex;
        width: 40%;
    }

}

@media (max-width: 768px) {
    .nav {
        padding: 10px 24px;
    }

    .navbar-nav {
        display: flex;
        width: 50%;
    }

}


@media (max-width: 575.98px) {
    .toggle-menu {
        display: flex;
    }

    .navbar-nav {
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: -150vw;
        padding: 34px 24px;
        background-color: var(--bg-color);
        width: 100%;

    }

    .cart-list {
        flex-direction: column;
        padding: 24px 24px;
        box-sizing: border-box;
        align-items: center;
    }

    .navbar-nav.show {
        left: 0px;
    }

    .wrap-icon {
        width: 20%;
    }

    .cart-total {
        width: 90%;
        margin-left: 0px;
    }
}